<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candidates</title>
  <%- include('styles/style'); %>
</head>
<body>
  <h1>Hello <%= data.getTitle() %>!</h1>
  <a href="/logout"><button>Logout</button></a>
  <a href="/voters/<%= data.id %>/profile"><button>My Profile</button></a> <br> <br>
  <a href="/voters/<%= data.id %>/candidates"><button>See Candidates</button></a>
  <br> <br>
  <h2>This is Your Voted List</h2>
<% if (data.Candidates.length === 0) { %>
  <h3 style="color: crimson;">Not Voted Yet</h3>
<% } else { %>
  <table>
    <tr>
      <th>Candidate's Name</th>
      <th>Party</th>
      <th>Location</th>
      <th>Birth Date</th>
    </tr>
    <% data.Candidates.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.party %></td>
        <td><%= el.location %></td>
        <td><%= dateFormat(el.birth_date) %></td>
      </tr>
    <% }); %>
  </table>
<% } %>
</body>
</html>